<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="/css/main.css" />
  <script src="/js/index.js" defer></script>

  <!-- Title -->
  <title>{{ .Site.Title }}</title>
  <meta name="title" content="{{ .Site.Title }}" />

  <!-- Metadata -->
  <meta name="canonical" href="{{ .Permalink }}" />

  <meta name="msapplication-TileColor" content="#2b5797" />
  <meta name="theme-color" content="#030303" />

  <!-- A partial to be overwritten by the user.
     Simply place a custom_head.html into
     your local /layouts/partials-directory
     
     Put your site's meta, favicon etc. there
     -->
{{- partial "custom_head.html" . -}}
</head>
