{{ $homepage := .Site.GetPage "/homepage" }}
{{ $sections := $homepage.Pages }}
<header id="sidenav">
  <div id="logo-container">
    <a href="#home" class="interactable">
      <img
        id="page-logo"
        src="{{ site.Params.assets.logo | default "logo.svg" | absURL }}"
        alt="Logo"
      />
    </a>
  </div>
  <div id="navlinks">
    <a class="interactable" href="#home" title="Home">
      <div class="sidenav-button active-menu"></div>
    </a>
    {{ range $index_val, $elem_val := $sections }}
      <a class="interactable" href="#{{ $elem_val.Params.href }}" title="{{ $elem_val.Title }}">
        <div class="sidenav-button"></div>
      </a>
    {{ end }}
  </div>
</header>
